<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>GoRefer</h1>
      <br />
      *Search For Documents within the Database:
      <br />
      <form action="/route/2/<%=user.id%>" method="POST">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter Name or Location"
            name="name"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary formm">Submit</button>
      </form>
    </div>

    <div class="container">
      <h2>Your Name and Location</h2>

      <div class="form-group">
        <label for="name">Name:</label>
        <big id="name" name="name"
          ><big><u><%= user.name %></u></big></big
        >
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <big id="location" name="location"
          ><big><u><%= user.location %></u></big></big
        >
      </div>
      <br />
      <a href="/" class="btn btn-secondary">Home</a>
    </div>
    <% console.log('"info.ejs"') %>
  </body>
</html>
